.div-principal {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header, #main-inicio {
    font-family: "Simonetta", serif;
}

#menu {
    z-index: 20;
    background-color: #FFF;
}

#menu-button {
    border-color: #2FAED5;
}

.menu-items:hover{
    color: #2FAED5;
}

/* Estilo inicial de las barras */
.hamburger-bar {
    width: 30px;
    height: 4px;
    background-color: #2FAED5;
    margin: 5px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Transformaciones para la "X" */
#menu-button.open .top {
    transform: translateY(9px) rotate(45deg);
}

/* Ocultar la barra del medio */
#menu-button.open .middle {
    opacity: 0; 
}

#menu-button.open .bottom {
    transform: translateY(-9px) rotate(-45deg);
}

/* Footer */
footer {
    background-color: #D9D9D9;
    font-family: "Simonetta", serif;
}

.btn-home {
    background-color: #FEEDAA;
    color: black;
}

/* Conoceme */

#main-conoceme, #main-home-texto {
    font-family: "Arimo", sans-serif;
}

#titulo-conoceme {
    font-family: "Simonetta", serif;
    color: #495551;
    background-color: #FEEDAA;
}

