/* Layaout principal */
.div-principal {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* Menu hamburguesa */
.hamburger-bar {
    width: 30px;
    height: 4px;
    background-color: #2FAED5;
    margin: 5px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#menu-button.open .top {
    transform: translateY(9px) rotate(45deg);
}

#menu-button.open .middle {
    opacity: 0;
}

#menu-button.open .bottom {
    transform: translateY(-9px) rotate(-45deg);
}

#quiero-empezar {
    font-family: 'Simonetta', serif;
    font-weight: 600;
    background-color: #feedaa;
    color: #495551;
    padding: 0.5rem;
    border-radius: 0.75rem;
    width: auto;
    display: inline-block;
}
