@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Simonetta&display=swap');

/* Menu hamburguesa efecto X */
.hamburger-bar {
    width: 30px;
    height: 4px;
    background-color:#613659;
    margin: 5px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#menu-button.open .top {
    transform: translateY(9px) rotate(45deg);
}

#menu-button.open .middle {
    opacity: 0;
}

#menu-button.open .bottom {
    transform: translateY(-9px) rotate(-45deg);
}

/* Clases de fuentes personalizadas */
.font-simonetta {
    font-family: 'Simonetta', serif;
}

.font-arimo {
    font-family: 'Arimo', sans-serif;
}