.div-principal {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {
    font-family: "Simonetta", serif;
}

#menu {
    z-index: 20;
    background-color: #FFF;
}

#menu-button {
    border-color: #2FAED5;
}

.menu-items:hover {
    color: #2FAED5;
}

.btn-home {
    background-color: #FEEDAA;
    color: #495551;
    text-decoration: none;
    font-family: "Simonetta", serif;
}

.texto-principal-home {
    color: #495551;
    font-family: "Simonetta", serif;
}

/* Menu hamburguesa */
/* Estilo inicial de las barras */
.hamburger-bar {
    width: 30px;
    height: 4px;
    background-color: #2FAED5;
    margin: 5px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Transformaciones para la "X" */
#menu-button.open .top {
    transform: translateY(9px) rotate(45deg);
}

#menu-button.open .middle {
    opacity: 0;
}

#menu-button.open .bottom {
    transform: translateY(-9px) rotate(-45deg);
}

/* Ajustar el menú en pantallas grandes */
@media (min-width: 768px) {
    #menu {
        display: flex !important;
        max-height: none !important;
    }
}

/* Titulos y subtitulos */
#main-home-texto,
#main-conoceme,
#main-consultoria {
    font-family: "Arimo", sans-serif;
}

.titulo-parrafo-1 {
    font-family: "Simonetta", serif;
    color: #495551;
    background-color: #FEEDAA;
    font-weight: bold;
}

.titulo-parrafo-2 {
    font-family: "Simonetta", serif;
    color: #495551;
    font-weight: bold;
}

#subtitulo-consultoria,
#subtitulo-servicios,
#subtitulo-testimonios,
#subtitulo-mediosdepago,
.titulos-home {
    font-family: "Simonetta", serif;
    color: #495551;
    font-weight: bold;
}

.titulo-slider-home {
    background-color: #FEEDAA;
    font-family: "Simonetta", serif;
    font-weight: bold;
}

.cliente {
    color: #495551;
}

/* Carousel Home*/
.carousel {
    position: relative;
    max-width: 100%;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    display: block;
}


.carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 250px;
    background: rgba(254, 237, 170, 0.9);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Simonetta", serif;
    font-weight: bold;
    text-align: center;
}

/* Botones de navegación */
#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#prev:hover,
#next:hover,
#prevTestimonio:hover,
#nextTestimonio:hover {
    background: rgba(0, 0, 0, 0.8);
}

@media (min-width: 640px) {
    .carousel {
        max-width: 600px;
    }

    .carousel-caption {
        font-size: 16px;
    }

    #prev,
    #next {
        font-size: 22px;
        padding: 12px;
    }
}

/* Footer */
footer {
    background-color: #FFF;
    font-family: "Simonetta", serif;
    color: #495551;
    border: solid 3px #2FAED5;
    border-radius: 15px;
}

#pablomgdev {
    color: black;
    text-decoration: none;
}