---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import TestimoniosCarousel from '../../components/TestimoniosCarousel';

const currentPath = Astro.url.pathname;
---

<Layout 
  title="Soy Jessi Carmona | Consultoría - CreAndo Armonia Comunidad"
  description="Sesiones de consultoría holística con Jessi Carmona. Acompañamiento individual, psicogenealogía y transgeneracional."
>
  <div class="relative min-h-screen grid grid-rows-[auto_1fr_auto]">
    <div class="relative z-10 flex flex-col min-h-screen">
      <Header currentPath={currentPath} />
      
      <br>

      <main class="px-3 pb-3 md:px-20 lg:px-32 xl:px-44">
        <h1 class="font-simonetta bg-[#f4e0a3] text-[#613659] text-3xl p-2 font-bold text-center mb-3 rounded-xl">
          Consultoría Holística
        </h1>

        <img src="/media/consultoria1.jpeg" alt="jessi carmona foto" class="mx-auto lg:w-2/3 rounded-lg mb-4">

        <h2 class="text-xl text-[#613659] text-center font-simonetta font-bold rounded-xl mb-4">
          ​¿DE QUÉ SE TRATA?
        </h2>

        <p class="text-justify mb-6 lg:text-lg font-arimo font-bold">
          ¡Hola! Me alegra mucho que estés aquí y que te interests en los <span
            class="text-[#613659] font-extrabold inline-flex items-center">ENCUENTROS INDIVIDUALES</span>
          conmigo. Este
          espacio es para que puedas explorar tus inquietudes, lo que sientes y las
          circunstancias que has vivido para comprender mejor tu presente. Es un lugar seguro y respetuoso
          donde atenderemos tu consulta desde un <span
            class="text-[#613659] font-bold inline-flex items-center">ENFOQUE INTEGRAL</span> considerando
          que nuestra salud física, mental, emocional y espiritual están interconectadas para lograr <span
            class="text-[#613659] font-extrabold inline-flex items-center">BIENESTAR</span>.
          <br><br>
          La Consultoría Holística se basa en una colaboración cercana donde te acompaño en el proceso
          de <span class="text-[#613659] font-bold inline-flex items-center">AUTOCONOCIMIENTO</span> y
          descubrir tus propias respuestas para avanzar con el flujo de la vida, sobrepasar obstáculos,
          conflictos y situaciones difíciles. La frase
          "Sin raíces no hay Alas" es muy significativa; nos recuerda la importancia de <span
            class="text-[#613659] font-extrabold inline-flex items-center">CONOCER NUESTRO PASADO</span>
          , honrando nuestro orígenes, para mirarlo con los ojos del amor y <span
            class="text-[#613659] font-extrabold inline-flex items-center">SANAR EL PRESENTE, AQUÍ Y
            AHORA</span>.
          <br><br>
          A través de mi guía personalizada, te compartiré conocimientos en Psico-genealogía y el
          Transgeneracional, donde mediante la exploración de <span
            class="text-[#613659] font-extrabold inline-flex items-center">TU ÁRBOL GENEALÓGICO</span>
          familiar buscaremos como la información heredada puede estar influenciando tu presente, ya sea de
          manera negativa como positiva, ofreciéndote la oportunidad de <span
            class="text-[#613659] font-extrabold inline-flex items-center">CONECTAR CON TUS DONES</span> y
          <span class="text-[#613659] font-extrabold inline-flex items-center">RIQUEZAS QUE TRAES</span>.
          <br>Te brindaré herramientas y otros recursos terapéuticos que te ayudarte a liberarte de patrones o
          creencias limitantes, encontrar soluciones, claridad y <span
            class="text-[#613659] font-extrabold inline-flex items-center">RESTABLECER EL EQUILIBRIO</span>.
        </p>

        <p class="text-justify mb-6 lg:text-lg font-arimo font-bold">
          ¿Te has sentido alguna vez atrapado/a en patrones repetitivos en tu vida? Es posible que no
          te des
          cuenta, pero la información que llevas contigo puede influir en tus <span
            class="text-[#613659] font-extrabold inline-flex items-center">PENSAMIENTOS, EMOCIONES Y
            ACCIONES</span> de manera sorprendente.
          Esta herencia transgeneracional se transmite de generación en generación,
          moldeando nuestra personalidad, nuestras elecciones y relaciones con l@s demás.
        </p>

        <br><br>

        <img src="/media/consultoria2.jpg" alt="jessi carmona foto" class="mx-auto lg:w-1/2 rounded-xl">

        <br>

        <p class="text-justify mb-6 lg:text-lg font-arimo font-bold">
          Imagina poder deshacerte de esas cadenas o nudos invisibles, al hacerlo, no solo podrás
          tomar
          conciencia
          y evolucionar, sino que también podrás <span
            class="text-[#613659] font-extrabold inline-flex items-center">CREAR VÍNCULOS MÁS
            AUTÉNTICOS</span> y desarrollarte en las áreas de tu
          vida que desees prosperar con plenitud, paz y creatividad.
        </p>

        <p class="text-justify lg:text-lg font-arimo font-bold mb-8">
          ¿Cómo funciona? Es un camino que está diseñado en <span
            class="text-[#613659] font-extrabold inline-flex items-center">DOS SESIONES</span> donde te
          acompaño en tu proceso de reconectar con lo más esencial y virtuoso de vos mism@, facilitando la
          introspección, el autodescubrimiento y la
          <span class="text-[#613659] font-extrabold inline-flex items-center">TRANSFORMACIÓN
            PERSONAL</span>.
          <br><br>
          En la primera, tendremos una entrevista para hablar sobre lo que te preocupa, o deseas cultivar o
          modificar. En la segunda sesión, profundizaremos en tu razón de consulta durante al menos dos horas.
          Después de eso, te dejaré con algunos ejercicios y recursos según tu caso, para que puedas seguir
          <span class="text-[#613659] font-extrabold inline-flex items-center">INTEGRANDO LO
            APRENDIDO</span> en esta experiencia.
          <br>
          Si tienes más preguntas o necesitas más información, ¡no dudes en preguntar! Te espero con amor,
          cuidado y respeto hacia tu propia historia.
        </p>

        <TestimoniosCarousel client:load />

        <div class="text-center p-2 mb-2 md:my-5">
          <a href="https://api.whatsapp.com/send?phone=5491155012310" target="_blank"
            rel="noopener noreferrer"
            class="inline-block rounded-lg bg-[#613659] text-white py-2 px-5 font-extrabold tracking-wider uppercase font-simonetta">
            QUIERO RESERVAR TURNO
          </a>
        </div>

        <p class="text-justify mb-6 lg:text-lg font-arimo">
          Las sesiones son para vos si:
          <br>
          <span class="font-extrabold inline-flex items-center text-[#613659]">1. Deseas comprender patrones
            familiares:</span> entender mejor quien sos y cómo las experiencias pasadas
          influyen en tu vida actual para poder superarlas y seguir hacia adelante.
          <br>
          <span class="font-extrabold inline-flex items-center text-[#613659]">2. Integrar heridas
            emocionales:</span>
          reconocer y liberar heridas, patrones o conflictos no resueltos para
          promover tu bienestar emocional y la salud mental.
          <br>
          <span class="font-extrabold inline-flex items-center text-[#613659]">3. Mejorar relaciones:</span>
          al entender las
          raíces de ciertos comportamientos o dificultades, podras lograr
          fortalecer vínculos, fomentar relaciones más saludables y armoniosas para sentirte con más seguridad
          y
          confianza.
          <br>
          <span class="font-extrabold inline-flex items-center text-[#613659]">4. Tomar decisiones con mayor
            claridad:</span>
          resolver conflictos internos te ayudará a experimentar mayor
          claridad
          para tomar decisiones importantes en tu vida.
          <br>
          <span class="font-extrabold inline-flex items-center text-[#613659]">5. Reconocer talentos y recursos
            familiares:</span> descubrir habilidades, valores o historias de éxito en la
          familia puede inspirar y potenciar el crecimiento personal y profesional.
          <br>
          <span class="font-extrabold inline-flex items-center text-[#613659]">6. Fomentar el crecimiento
            personal:</span>
          este proceso favorece el autoconocimiento, la aceptación y el
          crecimiento emocional, ayudándote a sentirte más en paz con vos mismo/a y con un sentido de
          pertenencia.
          <br>
          <span class="font-extrabold inline-flex items-center text-[#613659]">7. Aprender técnicas de
            meditación,
            arteterapia y relajación:</span> descubre prácticas para el manejo del estrés y la
          ansiedad de los tiempos actuales, cultivar una mente más serena y centrada para vivir con más
          consciencia y armonía.
        </p>

        <p class="text-justify mb-6 lg:text-lg font-arimo italic">
          Las sesiones no sustituyen ningún tratamiento clínico, psicoterapéutico ni psiquiátrico de la
          terapia
          convencional. Sin embargo, pueden complementar los procesos que estés llevando a cabo, ofreciendo
          una
          mirada alternativa a tu problemática o consulta.
        </p>
      </main>

      <Footer />
    </div>
  </div>
</Layout>
