---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

const currentPath = Astro.url.pathname;
---

<Layout 
  title="Soy Jessi Carmona | Servicios - CreAndo Armonia Comunidad"
  description="Servicios de artes terapéuticas, meditación, yoga y círculos de mujeres con Jessi Carmona."
>
  <div class="relative min-h-screen grid grid-rows-[auto_1fr_auto]">
    <div class="relative z-10 flex flex-col min-h-screen">
      <Header currentPath={currentPath} />
      
      <br>

      <main class="font-arimo px-3 md:px-20 lg:px-32 xl:px-44">
        <h1 class="font-simonetta text-[#843179] bg-[#FEEDAA] text-3xl p-2 font-bold text-center mb-3 rounded-xl">
          Servicios
        </h1>

        <img src="/media/servicios1.jpg" alt="jessi meditando" class="mx-auto lg:w-2/3 rounded-xl mb-3">

        <section class="text-justify lg:text-lg font-bold">
          <p class="font-simonetta text-2xl font-extrabold mb-3 text-center">
            ARTES TERAPÉUTICAS PARA LA SALUD HOLÍSTICA
          </p>

          <p class="text-justify mb-6 lg:text-lg font-arimo font-bold">
            Aquí te comparto mis propuestas donde guío y facilito <span
              class="text-[#613659] font-extrabold inline-flex items-center">RECURSOS</span> que me han
            ayudado a contemplar,
            sanar, enriquecer y transformar muchos procesos de mi vida y también los he comprobado en las
            personas que recibieron mis servicios.
            Te ayudo a reconectar con tu potencial interior para vivir en coherencia con tu verdad más
            esencial.
          </p>

          <hr>

          <h2 class="text-[#613659] text-2xl mb-3 text-center font-simonetta font-extrabold">
            YOGA PARA VOLVER A HABITARTE
          </h2>

          <img src="/media/servicios5.jpg" alt="clase de yoga"
            class="mx-auto lg:w-2/3 aspect-square object-cover rounded-xl mb-3">

          <p class="text-justify mb-5 lg:text-lg font-arimo font-bold">
            Este espacio está diseñado para que aprendas a habitar tu cuerpo como un instrumento sensible,
            que guarda memoria, un lugar para cultivar la escucha atenta, la conciencia y la presencia.
          </p>

          <p class="text-justify mb-5 lg:text-lg font-arimo font-bold">
            A través del movimiento, la respiración consciente y los momentos de quietud, exploramos nuestro
            mundo interno y externo. La voz será nuestra guía y sostén durante toda la práctica, invitando a
            escuchar lo que habita en nosotr@s, sin buscar resultados mágicos ni exigencias de tener que
            llegar a una forma en particular.
          </p>

          <p class="text-justify mb-5 lg:text-lg font-arimo font-bold">
            Lejos de ser solo una clase más, es un camino de regreso a casa, un proceso de autoconocimiento
            y liberación que se puede extender a la vida diaria.
          </p>

          <p class="mb-2 lg:text-lg font-arimo font-bold text-[#613659]">Objetivos:</p>
          <ul class="list-decimal pl-6 mb-5 lg:text-lg font-arimo font-bold text-justify">
            <li class="mb-1">Desarrollar sensibilidad y conciencia corporal.</li>
            <li class="mb-1">Conectar con el ritmo vital interno.</li>
            <li class="mb-1">Buscar el equilibrio como estado interior.</li>
            <li class="mb-1">Fomentar la presencia y enraizamiento.</li>
            <li class="mb-1">Generar confianza en la propia percepción.</li>
          </ul>

          <p class="mb-2 lg:text-lg font-arimo font-bold text-[#613659]">Ejes:</p>
          <ul class="list-disc pl-6 mb-5 lg:text-lg font-arimo font-bold text-justify">
            <li class="mb-1"><span class="text-[#613659]">Movimiento:</span> a través de secuencias de
              prácticas suaves y profundas.</li>
            <li class="mb-1"><span class="text-[#613659]">Respiración:</span> para cultivar la conexión
              entre cuerpo y mente.</li>
            <li class="mb-1"><span class="text-[#613659]">Quietud:</span> momentos de introspección, escucha
              interna y reflexión.</li>
          </ul>

          <p class="text-justify mb-3 lg:text-lg font-arimo font-bold">
            Este taller ofrece la oportunidad de regresar a un@ mism@ de manera suave y verdadera, brindando
            herramientas para transitar los desafíos cotidianos con mayor armonía y liviandad.
          </p>

          <div class="text-center mb-8">
            <a href="https://api.whatsapp.com/send?phone=5491155012310" target="_blank"
              rel="noopener noreferrer"
              class="inline-block rounded-lg bg-[#613659] text-white p-2 font-extrabold tracking-wider uppercase mb-4 font-simonetta">
              QUIERO SER PARTE
            </a>
          </div>

          <hr>

          <h2 class="text-[#613659] text-2xl mb-3 text-center font-simonetta font-extrabold">
            EL ARTE DE SER Y ESTAR
          </h2>

          <img src="/media/servicios2.jpg" alt="jessi meditando"
            class="mx-auto lg:w-2/3 aspect-square object-cover rounded-xl mb-3">

          <p class="text-justify mb-5 lg:text-lg font-arimo font-bold">
            Un taller diseñado para acompañarte en el descubrimiento de tu camino hacia la Paz Interior y la
            expansión de la Consciencia. A través de una experiencia profunda de conexión, te ofrece
            herramientas poderosas como la meditación, técnicas de introspección y espacios de reflexión que
            ayudará a observar y calmar la mente, reduciendo el estrés y aumentando el bienestar general.
          </p>

          <p class="text-justify mb-5 lg:text-lg font-arimo font-bold">
            En la agitación del día a día, encontrar momentos de silencio se convierte en un regalo sagrado.
            Este espacio no solo es ausencia de ruido, sino un refugio de quietud y reflexión, donde te
            invito a experimentar los beneficios de la introspección y la meditación, donde podrás seguir tu
            propio camino hacia el bien ser y estar, aquí y ahora.
          </p>

          <p class="mb-2 lg:text-lg font-arimo font-bold text-[#613659]">Objetivos:</p>
          <ul class="list-decimal pl-6 mb-5 lg:text-lg font-arimo font-bold text-justify">
            <li class="mb-1">Fomentar el autoconocimiento a través de la meditación y la introspección.</li>
            <li class="mb-1">Aprender técnicas para calmar la mente y reducir el estrés.</li>
            <li class="mb-1">Crear momentos de silencio y quietud como herramienta de sanación y equilibrio.</li>
            <li class="mb-1">Cultivar una conexión más profunda con un@ mism@ y con el entorno.</li>
            <li class="mb-1">Transformar la práctica de la meditación en un hábito saludable y enriquecedor.</li>
          </ul>

          <p class="mb-2 lg:text-lg font-arimo font-bold text-[#613659]">Ejes:</p>
          <ul class="list-disc pl-6 mb-5 lg:text-lg font-arimo font-bold text-justify">
            <li class="mb-1"><span class="text-[#613659]">Meditación:</span> Prácticas sencillas para
              aprender a observarse tal como un@ está, convirtiéndose en testigo de la experiencia.</li>
            <li class="mb-1"><span class="text-[#613659]">Silencio y Quietud:</span> Espacios dedicados a la
              reflexión y la aceptación del momento presente.</li>
            <li class="mb-1"><span class="text-[#613659]">Escritura:</span> Uso de la escritura como una
              herramienta de claridad mental, desarrollo personal y espiritual.</li>
            <li class="mb-1"><span class="text-[#613659]">Filosofía Budista:</span> Exploración de las
              características de la existencia desde una cosmovisión que nos ayuda a comprender nuestra
              realidad.</li>
          </ul>

          <p class="text-justify mb-3 lg:text-lg font-arimo font-bold">
            Este taller es una invitación a transformar la relación con nosotr@s mism@s. Con el apoyo de
            herramientas meditativas y reflexivas, vamos a crear un espacio enriquecedor donde poder
            cultivar el arte de ser y estar en la vida diaria.
          </p>

          <div class="text-center mb-8">
            <a href="https://api.whatsapp.com/send?phone=5491155012310" target="_blank"
              rel="noopener noreferrer"
              class="inline-block rounded-lg bg-[#613659] text-white p-2 font-extrabold tracking-wider uppercase mb-4 font-simonetta">
              QUIERO SER PARTE
            </a>
          </div>

          <hr>

          <h2 class="text-[#613659] text-2xl mb-3 text-center font-simonetta font-extrabold">
            MI PROYECTO SENTIDO
          </h2>

          <img src="/media/servicios3.jpg" alt="jessi meditando"
            class="mx-auto lg:w-2/3 aspect-square object-cover rounded-xl mb-3">

          <p class="text-justify mb-5 lg:text-lg font-arimo font-bold">
            Este taller te invita a explorar tus raíces y tu árbol genealógico, indagando en las emociones,
            bloqueos, creencias limitantes y programas inconscientes heredados. En un ambiente relajado y
            amable, utilizaremos el arte expresivo como herramienta principal para liberar lo que necesita
            ser sanado o expresado. La experiencia está orientada a la transformación personal, el
            crecimiento y el hallazgo del equilibrio interno.
          </p>

          <p class="mb-2 lg:text-lg font-arimo font-bold text-[#613659]">Objetivos:</p>
          <ul class="list-decimal pl-6 mb-5 lg:text-lg font-arimo font-bold text-justify">
            <li class="mb-1">Conectar con la propia historia personal y familiar para identificar patrones
              emocionales heredados.</li>
            <li class="mb-1">Explorar bloqueos, creencias limitantes y programas inconscientes que afectan
              la vida actual de l@s participantes.</li>
            <li class="mb-1">Utilizar el arte expresivo como medio terapéutico para liberar emociones
              reprimidas y promover la sanación.</li>
            <li class="mb-1">Fomentar un espacio seguro y amable para la autoexpresión y la creatividad.</li>
            <li class="mb-1">Facilitar el proceso de transformación personal y búsqueda de equilibrio
              emocional.</li>
          </ul>

          <p class="mb-2 lg:text-lg font-arimo font-bold text-[#613659]">Ejes:</p>
          <ul class="list-disc pl-6 mb-5 lg:text-lg font-arimo font-bold text-justify">
            <li class="mb-1"><span class="text-[#613659]">Terapia Transgeneracional:</span> Comprensión de
              cómo las historias familiares impactan la vida actual.</li>
            <li class="mb-1"><span class="text-[#613659]">Emociones y Bloqueos:</span> Identificación y
              trabajo sobre las emociones que impiden el bienestar.</li>
            <li class="mb-1"><span class="text-[#613659]">Arte Expresivo:</span> Uso de diversas técnicas
              artísticas para facilitar la expresión y liberación emocional.</li>
            <li class="mb-1"><span class="text-[#613659]">Transformación y Crecimiento:</span> Herramientas
              para integrar lo aprendido y abrirse a nuevas posibilidades.</li>
          </ul>

          <p class="text-justify mb-3 lg:text-lg font-arimo font-bold">
            Este taller es una invitación a reconectar con tu propia historia, integrar y transformar el
            presente, permitiéndote pasar por el cuerpo toda tu creatividad y abrirte a lo nuevo.
          </p>

          <div class="text-center mb-8">
            <a href="https://api.whatsapp.com/send?phone=5491155012310" target="_blank"
              rel="noopener noreferrer"
              class="inline-block rounded-lg bg-[#613659] text-white p-2 font-extrabold tracking-wider uppercase mb-4 font-simonetta">
              QUIERO SER PARTE
            </a>
          </div>

          <hr>

          <h2 class="text-[#613659] text-2xl mb-2 text-center font-simonetta font-extrabold">
            MORADA DE MUJER
          </h2>

          <img src="/media/servicios4.jpg" alt="jessi meditando"
            class="mx-auto lg:w-2/3 aspect-square object-cover rounded-xl mb-3">

          <p class="text-justify mb-5 lg:text-lg font-arimo font-bold">
            Un espacio creado para que nosotras, las mujeres, podamos reconectar con nuestro cuerpo, la
            energía
            femenina y sus ciclos naturales. A través de los encuentros nos sumergimos en prácticas de
            movimiento,
            rituales compartidos y actividades creativas que promueven la autoexploración y el bienestar.
            Este
            taller busca fortalecer el vínculo entre nosotras, propiciar un ambiente de apoyo y amor,
            facilitar
            la conexión con la sabiduría y misterios del universo femenino.
          </p>

          <p class="mb-2 lg:text-lg font-arimo font-bold text-[#613659]">Objetivos:</p>
          <ul class="list-decimal pl-6 mb-5 lg:text-lg font-arimo font-bold text-justify">
            <li class="mb-1">Promover la conexión y el autocuidado a través de prácticas corporales y
              ancestrales.</li>
            <li class="mb-1">Fomentar un entorno seguro y acogedor donde las mujeres puedan compartir y
              expresar sus
              experiencias.</li>
            <li class="mb-1">Explorar la energía femenina en cada etapa de la vida y honrar los ciclos
              naturales.</li>
            <li class="mb-1">Mejorar la autoestima y amor propio.</li>
            <li class="mb-1">Crear un círculo de apoyo y sororidad entre las participantes.</li>
          </ul>

          <p class="mb-2 lg:text-lg font-arimo font-bold text-[#613659]">Ejes:</p>
          <ul class="list-disc pl-6 mb-5 lg:text-lg font-arimo font-bold text-justify">
            <li class="mb-1"><span class="text-[#613659]">Reconexión con el cuerpo y la energía
                  femenina</span>
              como fuerza creativa y cíclica.</li>
            <li class="mb-1"><span class="text-[#613659]">Ciclicidad y sabiduría femenina</span>, siendo el
              universo femenino un proceso dinámico y cambiante.</li>
            <li class="mb-1"><span class="text-[#613659]">Comunidad, sostén y sororidad</span> entre
              mujeres.</li>
            <li class="mb-1"><span class="text-[#613659]">Autoexploración y empoderamiento</span> mediante
              herramientas para sostener el proceso.</li>
          </ul>

          <p class="text-justify mb-3 lg:text-lg font-arimo font-bold">
            Este taller genera un espacio para compartir aprendizajes y sentimientos, la conexión en
            círculos de
            mujeres y el empoderamiento femenino.
          </p>

          <div class="text-center mb-8">
            <a href="https://api.whatsapp.com/send?phone=5491155012310" target="_blank"
              rel="noopener noreferrer"
              class="inline-block rounded-lg bg-[#613659] text-white p-2 font-extrabold tracking-wider uppercase mb-4 font-simonetta">
              QUIERO SER PARTE
            </a>
          </div>

          <hr>

          <p class="text-center mb-6 lg:text-lg font-arimo font-bold italic">
            Estas propuestas que diseñé con mucho amor y dedicación se brinda tanto en modalidad individual
            como grupal, online y presencial.
          </p>

          <p class="text-center mb-6 lg:text-lg font-arimo font-bold italic">
            Ofrezco talleres para otros espacios.
            ¡ESPERO TU MENSAJE!
          </p>
        </section>
      </main>

      <Footer />
    </div>
  </div>
</Layout>
