---
---

<footer class="text-center py-2 border-2 border-[#f4e0a3] rounded-xl bg-white">
  <p class="font-semibold font-simonetta text-[#495551] rounded-xl">
    Copyright &#169; Jessi Carmona (2025) | Fotografías Diego Lapiz |
    Desarrollado por <a href="https://www.pablomgdev.lat/" target="_blank" rel="noopener noreferrer"
      class="hover:text-black">Pablo MG.</a>
  </p>
</footer>
